.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bicicletas-lista h2 {
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  /*para criar barra horizontal caso a tela diminua muito*/
  overflow-x: auto;
}

#bicicleta .bicicletas-lista ul {
  padding: 0px 0px 20px 0px;
}

.bicicletas-lista li {
  min-width: 280px;
}

/*para quando clicar tab no site, não seleciona a imagem e o título e preço separadamente, mas tudo em um único bloco*/
.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

/*para fazer o quadradinho amarelo ao lado do título*/
.bicicletas-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  background-color: var(--cor-p1);
  margin-right: 8px;
  transition: 0.2s;
}

/*para quando passar o mouse em cima de uma das bicicletas, mudança no retâmngulo (mas o transition vai acima)*/
.bicicletas-lista a:hover h3::before {
  width: 24px;
}

.bicicletas-lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }
  .bicicletas-lista ul {
    gap: 20px;
  }
}

/*para quando passar o mouse em cima de uma das bicicletas, mudança na cor da imagem*/
.bicicletas-lista a img {
  transition: filter 0.2s;
}
.bicicletas-lista a img:hover {
  filter: sepia(1) saturate(2) hue-rotate(20deg);
}
