.introducao-bg {
  background-color: var(--cor-12);
  /*para dar a sensação de vazamento da imagem, cria uma sombra branca dentro do background*/
  box-shadow: inset 0 -120px #fff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.introducao p,
.introducao a {
  grid-column: 1;
}

/*não necessário se coloca uma div como a "introducao-conteudo"
.introducao img {
  grid-column: 2;
  grid-row: 1/3;
}*/

.introducao-conteudo {
  align-self: end;
  /*não é 80, mas 200px, porque há 120px da sombra branca e caso não a considere, o botão ficará em cima da sombra branca*/
  padding-bottom: 200px;
}

.introducao img {
  height: 100%;
  /*para quando diminuir a tela, não "esmagar" a imagem*/
  object-fit: cover;
  border-radius: 4px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao p {
  margin-bottom: 24px;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #fff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
